<%- include('../partials/header') %>

    <h1 class="text-center mb-5 mt-5">
        <%= title %>
    </h1>

    <form action="/favourites" method="POST">
        <select name="trail">
            <% trails.forEach(function(t) { %>
                <option>
                    <%= t.title %>
                </option>
                <% }) %>
        </select>

        <input type="submit" value="Add to Favourites">
    </form>

    <%- include('../partials/footer') %>