<%- include('../partials/header') %>

<form action="/favourites" method="POST">
    <select name="title" >
        <% trails.forEach(function(t) { %>
        <option><%= t.title %></option>
        <% }) %>
    </select>

<input type="submit" value="Add to Favourites">
</form>

<%- include('../partials/footer') %>